.zsh_history
.AMD/
.ICEauthority
.Xauthority
.bash_history
.cache/
.dbus/
.dmrc
.e/
.eclipse/
.elementary/
.esd_auth
.gnome/
.gnome2/
.gsutil/
.java/
.lesshst
.local/
.mozilla/
.npm/
.pki/
.python_history
.ssh/
.subversion/
.viminfo
.vnc/
.xinitrc
.xsession-errors
.xsession-errors.old
.zhistory
Desktop/
Downloads/
VirtualBox VMs/
dev/
gits/
.zcompdump
*appimage

